---
import logo from "../assets/logo_gb.svg";
import CardDir from "./Card_Dir.astro";
import CardCurso from "./Card_Info.astro";
import YellowButton from "./Yellow_button.astro";
import CardAge from "./Card_age.astro";
import CardCertification from "./Card_Certification.astro";
import "../styles/global.css";
const { icon_emi } = Astro.props;
const { name_emi } = Astro.props;
const { addres_emi } = Astro.props;
const { addres_emi_2 } = Astro.props;

const base = import.meta.env.BASE_URL;
---

<div id="Header" class="bg-blueGB h-auto grid grid-cols-2 lg:px-[200px]">
	<div id="Logos" class="flex pl-4 justify-center">
		<img src={logo.src} alt="GetBrit!" />
		<p class="leading-tight pl-1 text-white mt-[6%] mb-[10px] text-[18px]">Escuela Municiapal de</br>
		Idiomas de {name_emi}</p>
	</div>
	<div id="Enlaces" class="hidden lg:block lg:flex justify-center items-center space-x-10 text-white">
		<a href="/">Inicio</a>
		<a href="/">Horarios</a>
		<a href="/">La Escuela</a>
		<a href="/">Prueba de Nivel</a>
	</div>
	<button id="burgerMenu" class="justify-self-end block lg:hidden pr-6 md:pr-[200pxaaaaa]">
		<?xml version="1.0" encoding="UTF-8"?>
		<svg class="text-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="40" height="40">
		<g>
			<path fill="currentColor" d="M480,224H32c-17.673,0-32,14.327-32,32s14.327,32,32,32h448c17.673,0,32-14.327,32-32S497.673,224,480,224z"/>
			<path fill="currentColor" d="M32,138.667h448c17.673,0,32-14.327,32-32s-14.327-32-32-32H32c-17.673,0-32,14.327-32,32S14.327,138.667,32,138.667z"/>
			<path fill="currentColor" d="M480,373.333H32c-17.673,0-32,14.327-32,32s14.327,32,32,32h448c17.673,0,32-14.327,32-32S497.673,373.333,480,373.333z"/>
		</g>
	</button>
		<div id="MobileMenu" class="hidden flex-col gap-3 text-white mt-2 col-span-2 lg:hidden">
		<a href="/">Inicio</a>
		<a href="/">Horarios</a>
		<a href="/">La Escuela</a>
		<a href="/">Prueba de Nivel</a>
	</div>
</div>

<div class="container grid grid-cols-1 px-4 gap-4 lg:grid-cols-3 lg:pl-[20%] lg:gap-8 pt-4 pb-6 lg:pt-10 lg:pb-8 md:w-fit md:mx-auto">
	<div id="logo_municipio" class="flex flex-col items-center justify-center lg:col-start-1 lg:col-end-2">
		<p class="hidden md:block">Con la colaboracion de</p>
		<img src={icon_emi} alt="" class="w-[150px] lg:w-[270px]"/>
	</div>
	<CardDir
		name_emi={name_emi}
		addres_emi={addres_emi}
		addres_emi_2={addres_emi_2}
		id="card_municipio"
		class="lg:col-start-2 lg:col-end-4"
	/>

</div>
<div class="InformationContainer">
	<div class="InformationCards grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-x-12 lg:grid-cols-3 place-items-center py-4 px-4 md:px-16">
		<CardCurso
		urlImg=`${base}/Imagenes_prueba/Curso.webp`
		h3Text="CURSO 2025"
		h5Text="Curso 2025"
		pText="DESDE OCTUBRE HASTA JUNIO"
		/>
		<CardCurso
		urlImg=`${base}/Imagenes_prueba/Certificados.webp`
		h3Text="EXAMENES OFICIALES"
		h5Text="Exámenes oficiales"
		pText="CONSULTA TODAS LAS FEHCAS DISPONIBLES PARA ESTE CURSO"
		/>
		<CardCurso
		urlImg=`${base}/Imagenes_prueba/Idiomas.webp`
		h3Text="OTROS IDIOMAS"
		h5Text="Otros Idiomas"
		pText="DISPONEMOS DE DIFERENTES IDIOMAS"
		/>
	</div>
	<div class="InformationButtons">
		<div class="button grid grid-cols-2 gap-4 w-full max-w-xl mx-auto">
			<YellowButton 
				link="www.google.es"
				text="Inglés"/>
			<YellowButton 
				link="www.google.es"
				text="Francés"/>
			<YellowButton 
				link="www.google.es"
				text="Alemán"/>
			<YellowButton 
				link="www.google.es"
				text="Chino"/>
			<YellowButton 
				link="www.google.es"
				text="Ejemplo"/>
			<YellowButton 
				link="www.google.es"
				text="Ejemplo2"/>
		</div>
		<div class="CardAge grid grid-cols-2 grid-rows-2">
			<CardAge 
				img=`${base}/Imagenes_prueba/niña3años.webp`
				title="Cursos Infants"
				text="De 3 a 5 años"
				/>
			<CardAge 
				img=`${base}/Imagenes_prueba/niña3años.webp`
				title="Cursos Kids"
				text="De 6 a 11 años"
				/>
			<!-- </div>
			<div class="CardAge"> -->
			<CardAge 
				img=`${base}/Imagenes_prueba/niña3años.webp`
				title="Cursos Teens"
				text="De 12 a 17 años"
				/>
			<CardAge 
				img=`${base}/Imagenes_prueba/niña3años.webp`
				title="Cursos Adults"
				text="Apartir de 18 años"
				/>
		<!-- </div> -->
	</div>
</div>
<div class="CTA flex flex-col px-[75px] py-2 md:flex-row justify-around px-6">
	<YellowButton 
		link="#"
		text="Inscríbete YA!"/>
	<YellowButton
		ink="#"
		text="Prueba de nivel"/>
</div>
<div class="Certification">
	<h3>
		Certificaciones Internacionales
	</h3>
	<div>
		<p>
			Certificate con nosotros en las instituciones mas prestigiosas del mundo.
			Años de experiencia y cientos de alumnos certificados avalan nuestra metodologia.
		</p>
	</div>
	<div>
	<CardCertification 
		name = "Cambridge"/>
	</div>
</div>
<div class="Contact lg:flex items-center md:justify-center md:pb-[50px] md:pt-[80px] gap-40 ">
	<div class="contact_text w-auto px-2 mx-2 lg:w-[400px] md:text-center">
		<h3>
			Solicita más información
		</h3>
		<p>
			Si quieres más detalles sobre nuestros cursos, prográmas, horarios, etc. 
		</p>
		<p>
			Rellena el siguiente formulario o llamanos y estaremos encantados de ayudarte.
		</p>
		<p>
			Teléfono: <b>925 365 719</b>
		</p>
		<p>
			HORARIO DE ATENCIÓN AL PÚBLICO: 
		</p>
		<ul>
			<li><strong>Lunes a jueves:</strong> 9:00 - 14:00 y 16:00 - 19:00</li>
			<li><strong>Viernes:</strong> 8:00 - 15:00</li>
		</ul>
	</div>
	<div>
		<form action="#" method="POST" class="w-auto px-2 py-4 mx-2 my-4 lg:w-[400px]">
			<label for="name">Nombre Completo:</label>
			<input 
				type="text" 
				id="name" 
				name="name" 
				required>
			<label for="email">e-Mail:</label>
			<input 
				type="email" 
				id="email" 
				name="email"
				placeholder="example@example.com"
				required>
			<label for="number">Telefono:</label>
			<input 
				type="tel" 
				id="number" 
				name="number"
				maxlength="9"
				minlength="9"
				onkeypress="return event.charCode >= 48 && event.charCode <= 57"
				placeholder="xxx.xxx.xxx"
				required>
			<label for="comment">Comentario:</label>
			<textarea 
				id="comment" 
				name="comment"
				rows="5"
				required> 
			</textarea>
			<button type="submit">Enviar!</button>
		</form>
	</div>
</div>

<style>
		#Logos > p {
			font-family: 'Gothan';
			font-weight: 500;
		}
		a {
			ont-family: 'Gothan';
			font-weight: 500;
			font-size: 18px;
		}
</style>

<style>
	.container p{
		font-family: 'Gotham-Light';
		color: #5e5e5e;
	}
</style>

<style>
	.InformationCards{
		background-image: url(/public/Imagenes_prueba/ankush-minda-4Xy08NbMBLM-unsplash.jpg);
	}
</style>

<style>
	.CTA{
		background: linear-gradient(135deg, #00788c 10%,#1f9db4 40%,#439eae 60%, #67b5c3 100% )
	}
</style>

<style>
	.Certification{
		background:
			radial-gradient(circle at top left, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at top right, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at bottom left, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at bottom right, #e8f1fa 20%, transparent 50%),
			radial-gradient(circle at center, #c9d8e6 20%, #dce6f0 50%);
		background-blend-mode: lighten;
		padding: 30px 0 30px 0;
		text-align: center;
	}
	.Certification h3 {
		font-size: 35px;
		font-family: 'Gothan';
		font-weight: 600;
		margin: 10px 0 5px 0;
	}
	.Certification div{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}
	.Certification p{
		max-width: 600px;
		font-size: 19px;
		font-family: 'Gothan';
		text-align: center;
		line-height: 1.6;
		hyphens:none;
	}
</style>

<style>
	.contact_text{
		border: 3px solid #00788c;
		border-radius: 15px;
	}
	.contact_text h3{
		font-family: 'Gothan';
		font-size: 30px;
		font-weight: 600;
		padding: 15px 0;
	}
	.contact_text p{
		font-family: 'Gotham-Light';
		font-size: 20px;
		font-weight: 400;
		line-height: 1.6;
		padding: 15px 0;
	}
	.contact_text > ul{
		list-style-type: none;
	}
	.contact_text > ul > li{
		padding-bottom: 10px;
	}
	.Contact form{
		border: 3px solid #00788c;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
	}
	form > label{
		font-family: 'Gothan';
		font-size: 20px;
		font-weight: 600;
		margin: 0 15px 10px 0;
	}

	form > input{
		border-radius: 8px;
		padding: 4px 15px;
		box-shadow: 0 0 5px rgba(0, 24, 49, 0.5);
		outline: none;  
	}
	form > textarea{
		border-radius: 8px;
		box-shadow: 0 0 5px rgba(0, 24, 49, 0.5);
		resize: none;
	}
	form > input:focus, textarea:focus{
		border-color: #007BFF;
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
		outline: none;  
	}
	form > button{
		margin-top: 10px;
		padding: 5px 0;
		border: none;
		border-radius: 8px;
		background-color: #00788c;
		cursor: pointer;
		font-family: 'Gothan';
		font-size: 20px;
		font-weight: 600;
		color: white;
		position: relative;
		transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
		overflow: hidden;
	}
	form > button::before{
		content: '';
		position: absolute;
		inset: 0;
		margin: auto;
		border-radius: inherit;
		scale: 0;
		z-index: -1;
		transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
	}
	form > button:hover::before {
		background-color: #026577;
	}
	form > button:hover {
		color: #212121;
		scale: 1.03;
		box-shadow: 0 0px 20px rgba(238, 208, 143, 0.4);
	}
	form > button:active{
		scale: 1;
	}
</style>

<script>
	const btn = document.getElementById('burgerMenu')
	const menu = document.getElementById('MobileMenu')

	btn?.addEventListener('click', () =>{
		menu?.classList.toggle('hidden')
	})
</script>